---
import DefaultLayout from "@layouts/Default.astro";
import { IFrontmatter } from "@typings";

export async function getStaticPaths() {
  const allMarkdownPosts = await Astro.glob<IFrontmatter>("../posts/*.md");
  const allTags = [
    ...new Set(allMarkdownPosts.map((p) => p.frontmatter.tags).flat()),
  ];
  return allTags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params as { tag: string };
const title = `Tags - All posts tagged '${tag}'`;
const description = tag;
const permalink = "";
---

<DefaultLayout content={{ title, description, permalink }}>
  <p>{tag}</p>
</DefaultLayout>
