---
import BaseHeader from "@components/BaseHeader";
import Nav from "@components/Nav";
import { IFrontmatter } from "@typings";

export async function getStaticPaths() {
  const allMarkdownPosts = await Astro.glob<IFrontmatter>("../posts/*.md");
  const allTags = [
    ...new Set(allMarkdownPosts.map((p) => p.frontmatter.tags).flat()),
  ];
  return allTags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params as { tag: string };
---

<html lang="en">
  <head>
    <BaseHeader
      pageTitle={`Tags - All posts tagged '${tag}'`}
      pageDescription={tag}
      pagePermalink={""}
    />
  </head>
  <body>
    <Nav />
    <p>{tag}</p>
  </body>
</html>
