---
import BaseHeader from "@components/BaseHeader.astro";
import Nav from "@components/Nav.astro";
import { Content as About } from "./main/about.md";

let pageTitle = "######";
let pageDescription = "#####";
let pagePermalink = `${Astro.site.toString()}about`;
---

<html lang="en">
  <head>
    <BaseHeader {{ pageTitle, pageDescription, pagePermalink }} />
  </head>
  <body>
    <Nav />

    <About />
  </body>
</html>
