---
import BaseHeader from "@components/BaseHeader";
import Nav from "@components/Nav";
import { Content as About } from "./main/about.md";

const thisTitle = "About";
const thisDescription = "Index";
const thisPermalink = `${Astro.site.toString()}about`;
---

<html lang="en">
  <head>
    <BaseHeader
      pageTitle={thisTitle}
      pageDescription={thisDescription}
      pagePermalink={thisPermalink}
    />
  </head>
  <body>
    <Nav />

    <About />
  </body>
</html>
