---
import BaseHeader from "@components/BaseHeader";
import Nav from "@components/Nav";
import { Content as About } from "./main/about.md";

let aboutTitle = "About";
let aboutDescription = "Index";
let aboutPermalink = `${Astro.site.toString()}about`;
---

<html lang="en">
  <head>
    <BaseHeader
      pageTitle={aboutTitle}
      pageDescription={aboutDescription}
      pagePermalink={aboutPermalink}
    />
  </head>
  <body>
    <Nav />

    <About />
  </body>
</html>
