---
import BaseHeader from "@components/BaseHeader";
---

<html lang="en">
  <head>
    <BaseHeader
      pageTitle="Blog"
      pageDescription="All Posts"
      pagePermalink={`${Astro.site.toString()}blog`}
    />
  </head>
  <body>
    <p>All the blogs</p>
  </body>
</html>
