---
import { IFrontmatter, IPost } from "@typings";
import DefaultLayout from "@layouts/Default.astro";
import PostPreview from "@components/PostPreview";

import "../styles/global.css";

const title = "Blog";
const description = "The blog";
const permalink = `${Astro.site.toString()}blog`;

const allMarkdownPosts = await Astro.glob<IFrontmatter>("./posts/*.md");
const allPosts: IPost[] = allMarkdownPosts
  .map((post) => ({
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    tags: post.frontmatter.tags,
    categories: post.frontmatter.categories,
    date: new Date(post.frontmatter.date),
    url: post.url,
  }))
  .sort((a, b) => b.date.valueOf() - a.date.valueOf());
---

<DefaultLayout content={{ title, description, permalink }}>
  <section>
    <h1>{title}</h1>
    <p>{description}</p>
  </section>
  <section aria-label="Blog post list">
    {allPosts.map((post) => <PostPreview post={post} />)}
  </section>
</DefaultLayout>
