---
import DefaultLayout from "@layouts/Default.astro";
import { IFrontmatter } from "@typings";

const title = "Categories";
const description = "Categories";
const permalink = `${Astro.site.toString()}categories`;

const allMarkdownPosts = await Astro.glob<IFrontmatter>("./posts/*.md");
const allCategories = [
  ...new Set(allMarkdownPosts.map((p) => p.frontmatter.categories).flat())
];
---

<DefaultLayout content={{ title, description, permalink }}>
  {allCategories.map(category => <a href={`/categories/${category}/`}>{category}</a>)}
</DefaultLayout>
