---
import { IFrontmatter, IPost } from "@typings";
import BaseHeader from "@components/BaseHeader";
import Nav from "@components/Nav";
import HomeLatestPost from "@components/HomeLatestPost";
import { Content as Home } from "./main/index.md";

const thisTitle = "Index";
const thisDescription = "The index of the blog";
const thisPermalink = "";

const allMarkdownPosts = await Astro.glob<IFrontmatter>("./posts/*.md");
const allPosts: IPost[] = allMarkdownPosts
  .map((post) => ({
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    tags: post.frontmatter.tags,
    categories: post.frontmatter.categories,
    date: new Date(post.frontmatter.date),
    url: post.url,
  }))
  .sort((a, b) => b.date.valueOf() - a.date.valueOf());

const latestPost = allPosts.slice(0, 1)[0];
---

<html lang="en">
  <head>
    <BaseHeader
      pageTitle={thisTitle}
      pageDescription={thisDescription}
      pagePermalink={thisPermalink}
    />
  </head>
  <body>
    <Nav />

    <Home />

    <HomeLatestPost post={latestPost} />
  </body>
</html>
