---
import DefaultLayout from "@layouts/Default.astro";
import { IFrontmatter } from "@typings";

const title = "All post tags";
const description = "All post tags";
const permalink = `${Astro.site.toString()}tags`;

const allMarkdownPosts = await Astro.glob<IFrontmatter>("./posts/*.md");
const allTags = [
  ...new Set(allMarkdownPosts.map((p) => p.frontmatter.tags).flat())
];
---

<DefaultLayout content={{ title, description, permalink }}>
  {allTags.map(tag => <a href={`/tags/${tag}/`}>{tag}</a>)}
</DefaultLayout>
