---
import { Nav } from "@typings";

const mainPages: Nav[] = [
  {
    label: "Home",
    url: "/.",
  },
  {
    label: "About",
    url: "/about",
  },
  {
    label: "Blog",
    url: "/blog",
  },
];
---

<nav>
  {mainPages.map(page => (
    <a href={page.url}>{page.label}</a>
  ))}
</nav>