---
import BaseHeader from "@components/BaseHeader.astro";
import Nav from "@components/Nav.astro";
import { Post } from "@typings";

const { title, description, date } = Astro.props as Post;
---

<html lang="en">
  <head>
    <BaseHeader {{ pageTitle: title, pageDescription: description, pagePermalink: '' }} />
  </head>
  <body>
    <Nav />
  <h1>{title}</h1>
  <slot />
  <p>Written on: {new Date(date).toDateString()}</p>
</body>

</html>