---
import BaseHeader from "@components/BaseHeader";
import Nav from "@components/Nav";
import { IPost } from "@typings";

const { content } = Astro.props;
const { title, description, date } = content as IPost;
---

<html lang="en">
  <head>
    <BaseHeader pageTitle={title} pageDescription={description} pagePermalink=""
    />
  </head>
  <body>
    <Nav />
    <h1>{title}</h1>
    <slot />
    <p>Written on: {new Date(date).toDateString()}</p>
  </body>
</html>
